.banner-image {
    width: 400px;
    height: 400px;
}

.banner-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    padding-left: 50px;
    padding-right: 50px;
    width: 70%;
}

.banner-text-h1 {
    width: 75%;
}

.banner-section {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.banner-section p {
    font-size: 18px;
    font-weight: 600;
    color: #9b9b9b;
}

.banner-section-container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.banner-search-input {
    width: 60%;
    height: 40px;
    background: #f7f6f6;
    border: 0;
    padding-left: 20px;
    font-size: 14px;
    border-radius: 24px;
    color: #858080;
    font-weight: bold;
}

.banner-search-container svg {
    position: relative;
    top: 16px;
    right: 50px;
    width: 30px;
}

.banner-search-container path {
    fill: #9d9898 !important;
}

.banner-search-input:focus {
    outline: none;
    box-shadow: 0 0 5px 2px rgb(112 112 112 / 50%);
}

.banner-search-btn {
    width: 100px;
    text-align: center;
    height: 40px;
    font-size: 16px;
    background: #f7f6f6;
    font-weight: bold;
    border: 0;
    border-radius: 14px;
    cursor: pointer;
}

.banner-search-btn:hover {
    outline: none;
    box-shadow: 0 0 5px 2px rgb(112 112 112 / 50%);
}

.cat-image{
    width: 150px;
    height: 150px;
}

.home-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.cat-text {
    font-size: 16px;
    font-weight: bold;
}

.categories-title{
    font-size: 16px;
    font-weight: bold;
}

.categories-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 250px;
    height: 250px;
}
